/* SUPPORTING COMMITTEE */
@import url('//fonts.googleapis.com/css?family=Oswald:200,300,400');

@import url('//fonts.googleapis.com/css?family=Open Sans Condensed:300');
 .main-containers .page-headers{
     background-image: url(../img/breadcrumb-bg.png); 
     background-size: 100% 100%;
    height: 150px;
    background-repeat: no-repeat;
    text-align: center;
} 
.main-containers .page-headers{
     width: 100%;
     height: 100%;
     /* margin-top: 15px; */
     text-align: center;
     padding: 20px 0;
     
}
.main-containers .page-headers h1{
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
}
@media(max-width:500px){
    .main-containers .page-headers h1{
        font-size: 24px !important;
    }
}
.main-containers .page-headers h5{
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.supporting-committee{
    padding-top: 18px;
}
.supporting-committee .menu{
    padding-left: 0;
}
.supporting-committee .menu li{
    list-style: none;
    font-size: 16pt;
    padding: 4px 0;
    line-height: 1.2;
    text-transform: uppercase;
}
.supporting-committee .menu li a{
    color: #005f98;
    transition: all 0.2s;
    text-decoration: none;
}
.supporting-committee .menu li:hover a{
    color: black;
    border-bottom: 2px solid black;
}
.supporting-committee .page-header-title{
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1;
    
}
.supporting-committee .page-header-title h1{
    width: 95%;
    font-size: 16pt;
    padding: 0px  0 10px 20px;
    border-bottom: 5px solid grey;
}
@media(max-width:500px){
    .supporting-committee .page-header-title h1{
        font-size: 16px;
    }
}
.international-committees{
    text-align: center;
    padding: 25px 50px;
    
}
.international-committees h4{
    font-size: 14pt;
}
.international-committees .international-committees-title{
    margin-top: 10px;
}
.international-committees .international-committees-title h4{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    padding: 20px 0;
    line-height: 1.07em;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: Catamaran, sans-serif;
}
@media(max-width:567px){
    .international-committees .international-committees-title h4{
        font-size: 24px;
    }
    .international-committees{
        padding: 10px 10px;
    }
}
.personal-item{
    width: 200px;
}
.personal-item .personal-img{
    width: 100%;
    height: 220px;
    text-align: center;
    object-fit: cover !important;
    
}
.personal-img img{
    width: 100%;
    height: 100%;
}
.personal-body{
     padding-top: 8px ;
}
.personal-body .personal-name{
    font-size: 15px !important;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}
.personal-body .personal-text{
    font-size: 14px !important;
    text-transform: capitalize;
    line-height: 1.2  !important;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
@media(max-width:441px){
    .personal-item{
        width: 100%;
        padding: 0px 40px;
    }
    .personal-item .personal-img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover !important;
    }
    .personal-item .personal-img img{
        max-width: 100%;
        max-height: 100%;
    }
}
.team-lest .team-lest-title{
    margin-top: 10px;
}
.team-lest .team-lest-title h4{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    padding: 20px 0;
    line-height: 1.07em;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: Catamaran, sans-serif;
}
@media(max-width:800px){
    .team-lest .team-lest-title h4{
        font-size: 24px;
    }
    .ihci-lest{
        padding-left: 10px !important;
    }
    .ihci-lest li{
        font-size: 20px;
    }
}
@media(max-width:567px){
    .team-lest .team-lest-title h4{
        font-size: 24px;
    }
    .ihci-lest{
        padding-left: 10px !important;
    }
    .ihci-lest li{
        font-size: 16px;
    }
}
.ihci-lest{
    font-family: "Oswald",Arial,sans-serif ;
    text-transform: none;
    font-size: 24px;
    line-height: 1.5;
    text-transform: none;
    margin-left: 45px;
    padding-bottom: 50px;
    
}
.ihci-lest li{
    /* padding-left: 8px; */
    font-size: 14pt;
}

/* STEERING COMMITTEE */
.international-committees .steering-item{
    text-align: start;
}
@media(max-width:1200px){
    .international-committees .steering-item h4{
        font-size: 18px ;
        

    }
}
@media(max-width:767px){
    .international-committees .steering-item h4{
        font-size: 16px ;
        
    }
}
@media(max-width:575px){
    .international-committees .steering-item {
        font-size: 16px ;
        text-align: center;
        
    }
}
/* about */

/* HOTEL */
.about_ihci{
    padding: 10px 70px ;
    
}

.about-ihci2022 p{
    /* padding: 20px 75px 0px 75px; */
     font-size: 14pt;
     line-height: 1.5;
     margin-bottom: 18px;
     text-align: justify;
     color: black !important;
     
}
.about-ihci2022 p a{
    display: inline-flex;
}
@media(max-width:567px){
    .about-ihci2022 p{
        /* padding: 20px 75px 0px 75px; */
         font-size: 14px;
         margin-bottom: 0;
         /* text-align: start; */
    } 
    .about-link{
        text-align: start !important;
    }
}
@media(max-width:500px){
    .about_ihci{
        padding: 10px 20px;
    }
}

.about_ihci .about_ihci-item ul {
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding-top: 8px;
    font-weight: 500;
    font-family: "Oswald",Arial,sans-serif !important;
}
.sam-item{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.sam-item .sam-img{
    width: 100%;
    /* height: 100%; */
}
.sam-item .sam-img img{
    max-width: 100%;
    height: 100%;
}
.sam-item .sam-body{
     text-align: center;
     font-size: 24px;
     padding-top: 10px;
}
.sam-item .sam-body h5{
    font-size: 16pt;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sam-title{
    margin: 20px 0px 10px 0;
}
.sam-title {
    color: rgb(85, 172, 69);
    margin-bottom: 10px;
    font-size: 16pt;
}
.sam-text {
    text-align: justify;
     font-size: 14pt ;
      line-height: 1.5;
}
@media(max-width:576px){
    .sam-text{
        font-size: 16px;
    }
    .sam-title{
        font-size: 18px;
    }
}
/* FORUM */
.forum{
    padding: 20px 50px  20px 75px;
    font-family: "Oswald",Arial,sans-serif !important;
    
}
.forum h2{
    font-size: 24px;
    margin: 20px 0;
    font-weight: 600;
    font-family: "Oswald",Arial,sans-serif !important;
}
.forum h5{
    font-size: 24px;
    line-height: 1.5 !important;
    font-family: "Oswald",Arial,sans-serif !important;
}
.forum-room{
    margin-bottom: 35px;
}
.forum .red{
    color: #ff0000;
}
.forum .forum-text{
    font-size: 24px;
    margin: 10px 0;
}
.forum ul li{
    font-size: 24px;
    margin-left: 10px;
}



/* CALL FOR PAPERS */
.call_for{
    padding: 20px 60px 20px 75px;
}
.call_for ul li a{
    display: inline !important;
}
.call-for-buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 20px ;
    flex-wrap: wrap;
    
}
.call-for-buttons a{
    padding: 15px 70px;
    text-decoration: none;
    color: white;
    display: inline-flex;
    background-color: chartreuse;
    border-radius: 8px;
}
@media(max-width:800px){
.call-for-buttons a{
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    display: inline-flex;
    background-color: chartreuse;
    border-radius: 8px;
}
}
@media(max-width:500px){
    .call-for-buttons {
        display: inline-flex;
        justify-content: center;
        padding-bottom: 30px ;
        align-items: center;
        gap: 20px;
        /* flex-wrap: wrap; */
    }
    .call_for .call-for-content ul {
        padding: 0;
    }
    .call_for ul li a{
        font-size: 14px;
        display: inline !important;
    }
    .call-for-buttons a{
        padding: 10px 25px;
        text-decoration: none;
        color: white;
        display: inline-flex;
        background-color: chartreuse;
        border-radius: 8px;
    }
    /* .call-for-buttons .view-file{
        padding:10px 55px ;
    } */
    .call_for .call-for-text{
        font-size: 14px;
    }

}
.call_for .call-for-text{
     font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.call-for-text .color{
    color: red;
    font-weight: 12000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.call_for .call-for-content .red{
    color: #ff0000;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.call_for ul{
    margin: 0;
}
.call_for ul li{
    font-size: 18px;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.call_for .list-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 8px 0;
}
.call-for-table table {
    width: 100%;
    border-collapse: collapse;
}
.call-table table tr td{
    text-align: start;
    border: 1px solid black ;
    padding-right: 175px;
    /* margin-right: 40px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}
@media(max-width:900px){
    .call_for{
        padding: 10px 35px;
    }
    .call-table table tr td{
        padding-right: 60px;
        margin: 0;
    }
}
@media(max-width:500px){
    .call-table table tr td{
        padding-right: 0;
        margin: 0;
        font-size: 12px;
    }
}
.Registration-table table {
    width: 100%;
    border-collapse: collapse;
}
.Registration-table table tr td{
    /* width: 100%; */
    text-align: center;
    border: 1px solid black ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media(max-width:500px){
    .Registration-table table tr td{
        font-size: 10px;
    }
}